
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans+Wancho&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #525354;
}

:root {
    --spacing-1: 16px;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.784);
    text-decoration: none;
}

body {
    font-family: 'Noto Sans Wancho', sans-serif;
    margin: 0;
    padding: 0 var(--spacing-1);
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10%;
    
}

header h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.783);
    text-decoration: none;
}

.logo{
    cursor: pointer;
}

.navigation-items {
    list-style: none;
}

.navigation-items li {
    display: inline-block;
    padding: 0 20px;
}

.navigation-items li a {
    transition: all 0.2s ease 0s;
}

.navigation-items li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

.selfie {
    width: 275px;
    max-height: 300px;
    height: auto;
    border-radius: 10px;
    flex-shrink: 0;
}

.about-me-div {
    display: flex;
}

.about-me-text-div {
    margin-right: 100px;
}

.about-me-text-div h2, p {
    margin-bottom: var(--spacing-1);
    color: rgba(255, 255, 255, 0.783);
}



@media only screen and (max-width: 600px) {
    .about-me-container {
      flex-direction: column;
    }
    .selfie {
        content: url(https://d26oc3sg82pgk3.cloudfront.net/files/media/edit/image/26135/square_thumb%402x.jpg);
        max-height: 300px;
    }
    p {
        font-size: .75rem;
    }
    h1,h2,li {
        font-size: .85rem
    }
  }
  